<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outrageousstorm.xposed.mymodule">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34" />

    <application
        android:label="My Xposed Module"
        android:debuggable="false">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="My custom Xposed tweaks" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>
